body {
    padding: 20px;
}
* {
    font-size: 26px;
}
button {
    font-weight: bold !important;
    margin: 10px 0;
}
form#create-user {
    width: 350px;
    background: lightblue;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
#clear-memo-res {
    padding-left: 20px;
}
